In [66]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
df=pd.read_csv('Boston.csv')

In [2]:
df.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   nox      506 non-null    float64
 4   rm       506 non-null    float64
 5   age      506 non-null    float64
 6   dis      506 non-null    float64
 7   rad      506 non-null    int64
 8   tax      506 non-null    int64
 9   ptratio  506 non-null    float64
 10  black    506 non-null    float64
 11  lstat    506 non-null    float64
 12  medv     506 non-null    float64
dtypes: float64(11), int64(2)
memory usage: 51.5 KB

In [14]:
df.isna().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Length: 506, dtype: bool

In [15]:
df.isna().all()

13

In [20]:
df[df.isnull().any(axis=1)==False]

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [24]:
import sklearn as sk

In [75]:
x=df.iloc[:,:11].values
y=df.iloc[:,11].values

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [77]:
x

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 2.9600e+02, 1.5300e+01,
        3.9690e+02],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 2.4200e+02, 1.7800e+01,
        3.9690e+02],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 2.4200e+02, 1.7800e+01,
        3.9283e+02],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.7300e+02, 2.1000e+01,
        3.9690e+02],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.7300e+02, 2.1000e+01,
        3.9345e+02],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.7300e+02, 2.1000e+01,
        3.9690e+02]])

In [78]:
model=LinearRegression()

In [79]:
model.fit(x_train,y_train)

LinearRegression()

In [80]:
y_pred=model.predict(x_test)

In [81]:
MSE=mean_squared_error(y_pred,y_test)

In [82]:
MSE

21.19035544734509

In [83]:
RMSE=np.sqrt(MSE)
RMSE

4.603298322653561

Multicollinearity VIF >= 10 is satisfied  
from statmodels.stat.outliers_influence import varient_infation _factor

In [84]:
vif=variance_inflation_factor(x_train,2)
vif

13.780206345803132

In [85]:
VIF=[variance_inflation_factor(x_train,i)for i in range(x_train.shape[1])]
VIF

[1.987557693386089,
 2.903939133142983,
 13.780206345803132,
 74.34785389269828,
 62.66115572123331,
 20.063663895692468,
 14.44630042403823,
 14.57200241187902,
 57.2641758625014,
 77.9527062339301,
 21.140526814075127]

In [86]:
df_VIF2=pd.DataFrame({'colms':df.iloc[:,:11].columns,'VIF':VIF})
df_VIF2

      colms        VIF
0      crim   1.987558
1        zn   2.903939
2     indus  13.780206
3       nox  74.347854
4        rm  62.661156
5       age  20.063664
6       dis  14.446300
7       rad  14.572002
8       tax  57.264176
9   ptratio  77.952706
10    black  21.140527

In [73]:
df_VIF1=pd.DataFrame({'colms':df.iloc[:,:12].columns,'VIF':VIF})

In [74]:
df_VIF1

      colms        VIF
0      crim   2.095894
1        zn   2.928062
2     indus  13.829768
3       nox  80.580602
4        rm  80.295207
5       age  22.821527
6       dis  14.784871
7       rad  14.694806
8       tax  57.284635
9   ptratio  87.191073
10    black  21.647351
11    lstat  11.319795